@media  (max-width:970px) and (min-width:765px){
 .hello{
     span{
         font-size:3rem;
     }
     .b{
         font-size:4rem;
     }
 }
 .home-img{
     img{
         width:100px;
         height:200px;
     }
 }
}
    
