@media only screen and (max-width: 1220px) {
    .row{
        display:flex;
        flex-direction: column;
    
    }
    .skill-row{
        display:flex;
        flex-direction:column;
    }
    
 .hello{
     span{
         font-size:3rem;
     }
     .b{
         font-size:4rem;
     }
 }
 .home-img{
     img{
         width:100px;
         height:200px;
     }
 }
}
    
@media only screen and (max-width: 992px){
    .home-section{
        .container{
            .row{
                margin: 100px 0;
            }
        }
    }
}